@import "tailwindcss";
@import "tw-animate-css";

@import "tailwindcss";
@import "tw-animate-css";



@theme {
  /* semantic tokens */
  --color-primary: #5A5FC2;
  --color-primary2:oklch(45.7% 0.24 277.023);
  --color-primary-foreground: #ffffff;
  --color-destructive: #ef4444;
  --color-destructive-dark: #b91c1c;
  --color-secondary: #6b7280;
  --color-secondary-foreground: #f9fafb;
  --color-accent: #fbbf24;
  --color-background: #f9fafb;
  --color-foreground: #374151;
  --color-ring: #2563eb;
  --color-input: #d1d5db;

  /* 15 distinct colors */
  --color-yellow: #fbbf24;
  --color-red: #ef4444;
  --color-green: #22c55e;
  --color-blue: #3b82f6;
  --color-cyan: #06b6d4;
  --color-purple: #8b5cf6;
  --color-crimson: #dc2626;
  --color-pink: #ec4899;
  --color-orange: #f97316;
  --color-lime: #84cc16;
  --color-amber: #f59e0b;
  --color-teal: #14b8a6;
  --color-indigo: #6366f1;
  --color-violet: #7c3aed;
  --color-slate: #64748b;


   --font-Inter: "Inter", Inter; 
   --font-Raleway:"Raleway",Raleway;
   --font-Carlito:"Carlito",Carlito;
}
